* {
    text-align: center;
    font-family: monospace;
    background-color: #000000;
    color: #fff
}
a {
    text-decoration: none;
}
.block > * {
    display: block;
    margin-top: 1rem;
}
footer {
    margin-top: 10vh;
}
